.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.moviesContainer {
  display: flex;
  flex-direction: column;
  width: 1024px;
  margin-top: 30px;
}

.movie {
  display: flex;
  flex-direction: row;
  margin-bottom: 25px;
}

.posterImgContainer {
  height: 250px;
}

.posterImg {
  height: 100%;
}

.posterInfo {
  padding: 10px 20px;
}

.loadingText {
  font-size: 25px;
  text-align: center;
}

.loader {
  margin-top: 30px;
  border: 16px solid #f3f3f3;
  border-top: 16px solid #6c7072;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.button {
  margin-top: 20px;
  width: 200px;
  appearance: button;
  background-color: #0e1315;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 20px;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  transform: translateZ(0);
}

.button:after {
  background-clip: padding-box;
  background-color: #6c7072;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}
